﻿@model  WebApplication5.ViewModels.Class1

@{
    ViewBag.Title = "Index";
}



    <form action="/BMI/Index" method="post">
        @Html.TextBoxFor(d => d.h) 公分 @ViewBag.HeightError @Html.ValidationMessageFor(f => f.h) </br>
        @Html.TextBoxFor(d => d.w) 公斤 @ViewBag.WeightError @Html.ValidationMessageFor(f => f.w)</br>

        <input type="submit" value="送出" />
        @*height:<input type="type" name="h" value="" />cm <br />
        weight:<input type="type" name="w" value="" />kg <br />*@

        @*<input type="submit" name="name" value="send" />*@

    </form>

<br />
@*計算結果： @ViewBag.BMI <br />
    等級： @ViewBag.level*@
計算結果： @Model.BMI <br />
等級：@Model.level
